<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Thêm thông tin hàng hóa</title>
</head>
<body>
<div class="row">
  <div class="col-2"></div>
  <div class="col-8">
    <div class="container">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-xl-9">
          <h1 align="center">Thêm mới thông tin hàng hóa</h1>
          <div class="card" style="border-radius: 15px;">
            <div class="card-body">
              <form [formGroup]="commodityForm" (ngSubmit)="addCommodity()">
                <div class="row align-items-center pt-4 pb-3">
                  <div class="col-md-3 ps-5">
                    <label for="name" style="font-weight: bold" class="mb-0">Tên hàng:<sup
                      style="color: red;font-size: 15px" title="Bắt buộc">*</sup> </label>
                  </div>
                  <div class="col-md-9 pe-5">
                    <input formControlName="name" required id="name" placeholder="Vui lòng nhập tên hàng (*)"
                           type="text"
                           class="form-control "/>
                  </div>
                </div>
                <div class="row align-items-center py-3">
                  <div class="col-md-3 ps-5">
                    <label for="trademark" style="font-weight: bold" class="mb-0">Thương
                      hiệu:<sup style="color: red;font-size: 15px" title="Bắt buộc">*</sup>
                    </label>
                  </div>
                  <div class="col-md-9 pe-5">
                    <select formControlName="trademark" required id="trademark" class="form-select"
                            aria-label="Default select example">
                      <option *ngFor="let trademark of trademarkList" [ngValue]="trademark">{{trademark.name}}</option>
                    </select>
                  </div>
                </div>
                <div class="row align-items-center py-3">
                  <div class="col-md-3 ps-5">
                    <label for="price" style="font-weight: bold" class="mb-0">Giá:<sup
                      style="color: red;font-size: 15px" title="Bắt buộc">*</sup> </label>
                  </div>
                  <div class="col-md-9 pe-5">
                    <input formControlName="price" required id="price" class="form-control" type="number"
                           placeholder="Vui lòng nhập giá (*)">
                  </div>
                </div>
                <div class="row align-items-center py-3">
                  <div class="col-md-3 ps-5">
                    <label for="img" style="font-weight: bold" class="mb-0">Hình ảnh hàng hóa:<sup
                      style="color: red;font-size: 15px" title="Bắt buộc">*</sup> </label>
                  </div>
                  <div class="col-md-9 pe-5">
                    <input formControlName="image" required id="img" class="form-control" type="file"/>
                  </div>
                </div>
                <div class="row align-items-center py-3">
                  <div class="col-md-3 ps-5">
                    <label for="size" style="font-weight: bold" class="mb-0">Kích thước màn
                      hình:<sup
                        style="color: red;font-size: 15px" title="Bắt buộc">*</sup> </label>
                  </div>
                  <div class="col-md-9 pe-5">
                    <input formControlName="screenSize" required id="size" class="form-control" type="text"
                           placeholder="Vui lòng nhập kích thước màn hình (*)">
                  </div>
                </div>
                <div class="row align-items-center py-3">
                  <div class="col-md-3 ps-5">
                    <label for="camera" style="font-weight: bold" class="mb-0">Camera:<sup
                      style="color: red;font-size: 15px" title="Bắt buộc">*</sup> </label>
                  </div>
                  <div class="col-md-9 pe-5">
                    <input formControlName="camera" required id="camera" class="form-control" type="text"
                           placeholder="Vui lòng nhập độ phân giải camera sau (*)">
                  </div>
                </div>
                <div class="row align-items-center py-3">
                  <div class="col-md-3 ps-5">
                    <label for="selfie" style="font-weight: bold" class="mb-0">Selfie:<sup
                      style="color: red;font-size: 15px" title="Bắt buộc">*</sup> </label>
                  </div>
                  <div class="col-md-9 pe-5">
                    <input formControlName="selfie" required id="selfie" class="form-control" type="text"
                           placeholder="Vui lòng nhập độ phân giải camera trước (*)">
                  </div>
                </div>
                <div class="row align-items-center py-3">
                  <div class="col-md-3 ps-5">
                    <label for="cpu" style="font-weight: bold" class="mb-0">CPU:<sup
                      style="color: red;font-size: 15px" title="Bắt buộc">*</sup> </label>
                  </div>
                  <div class="col-md-9 pe-5">
                    <input formControlName="cpu" required id="cpu" class="form-control" type="text"
                           placeholder="Vui lòng nhập loại CPU (*)">
                  </div>
                </div>
                <div class="row align-items-center py-3">
                  <div class="col-md-3 ps-5">
                    <label for="save" style="font-weight: bold" class="mb-0">Lưu trữ:<sup
                      style="color: red;font-size: 15px" title="Bắt buộc">*</sup> </label>
                  </div>
                  <div class="col-md-9 pe-5">
                    <input formControlName="capacity" required id="save" class="form-control" type="text"
                           placeholder="Vui lòng nhập dung lượng lưu trữ (*)">
                  </div>
                </div>
                <div class="row align-items-center py-3">
                  <div class="col-md-3 ps-5">
                    <label for="origin" style="font-weight: bold" class="mb-0">Xuất xứ:<sup
                      style="color: red;font-size: 15px" title="Bắt buộc">*</sup> </label>
                  </div>
                  <div class="col-md-9 pe-5">
                    <input formControlName="origin" required id="origin" class="form-control" type="text"
                           placeholder="Vui lòng nhập xuất xứ (*)">
                  </div>
                </div>
                <div class="row align-items-center py-3">
                  <div class="col-md-3 ps-5">
                    <label for="guarantee" style="font-weight: bold" class="mb-0">Thời gian bảo
                      hành:<sup
                        style="color: red;font-size: 15px" title="Bắt buộc">*</sup> </label>
                  </div>
                  <div class="col-md-9 pe-5">
                    <input formControlName="guarantee" required id="guarantee" class="form-control" type="text"
                           placeholder="Vui lòng nhập thời gian bảo hành (*)">
                  </div>
                </div>
                <div class="row align-items-center py-3">
                  <div class="col-md-3 ps-5">
                    <label for="describe" style="font-weight: bold" class="mb-0">Mô tả
                      thêm: </label>
                  </div>
                  <div class="col-md-9 pe-5">
                                        <textarea formControlName="description" id="describe" rows="3"
                                                  class="form-control" type="text"
                                                  placeholder="Nhập mô tả thêm"></textarea>
                  </div>
                </div>
                <div align="center" class="px-5 py-4">
                  <button type="submit" class="btn btn-primary">Thêm mới</button>
                  <button style="margin-left: 10px" type="button" class="btn btn-secondary"
                          data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Hủy
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-2"></div>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Xác nhận</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Bạn có muốn hủy thêm mới thông tin hàng hóa hay không ?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Không</button>
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Có</button>
      </div>
    </div>
  </div>
</div>
</body>
</html>
